.acl-products-shortcode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.acl-product-item {
    width: calc(25% - 10px); /* Adjust based on columns */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.acl-product-item img {
    max-width: 100%;
    height: auto;
}

.acl-product-buy-now {
    margin: 0px 0;
}

.acl-product-title {
    font-size: 16px;
    margin: 10px 0;
}

.acl-product-sale-price, .acl-product-price {
    display: block;
}

.acl-product-image {
	background-color: rgba(245, 245, 245, 1);
	margin-bottom: 0px;
  clip-path: polygon(7% 0%, 93% 0%, 100% 7%, 100% 93%, 100% 100%, 0% 100%, 0 93%, 0 7%);
	padding:30px;
	text-align: center;
	
}

.acl-product-details {
	position: relative;
  background: #f5f5f5;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 93% 100%, 7% 100%, 0 93%);	
	padding: 3px;
}


.quote-button {
    background: #ff9029;
    color: #ffffff;
    /* font-weight: bold; */
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0; /* This padding affects the total height */
}

.acl-product-buy-now {
    display: flex; /* Use flexbox for layout */
    width: 100%;
	  justify-content: flex-end;
}

.acl-product-buy-now .quote-button {
    flex-basis: 70%; /* 70% of the space when both are present */
    display: flex;
    align-items: center;
    justify-content: center;
}

.acl-product-buy-now .purchase-button {
    flex-basis: 30%; /* Always 30% width */
    background: #000000;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #ffffff;
    /* Mimic the height of the quote button including padding */
    padding: 10px 0; /* Match the padding of quote-button */
    box-sizing: border-box; /* Ensure padding is included in the height */
}

/* Adjust the SVG icon size */
.acl-product-buy-now .fa-svg {
    width: 1.5em; /* Increase size for better visibility */
    height: 1.5em;
}

/* Ensure buttons are displayed inline within their containers */
.acl-product-buy-now a {
    display: inline-block;
    width: 100%; /* Full width of their parent container */
    text-align: center; /* Center the content if needed */
    height: 100%; /* Fill the height of the parent */
}

/* Apply border only when .quote-button is not present */
.acl-product-buy-now:not(:has(.quote-button)) {
    border-left: 3px #f5f5f5 solid;
}

.acl-single-product-custom-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.acl-single-product-button-wrapper {
    margin-right: 10px; /* Optional: Add some space between buttons */
}

.woocommerce ul.products li.product .acl-category-thumbnail .woocommerce-placeholder {
    border: 0;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) .acl-single-product-custom-buttons a.button { 
    float: none;
    padding: 0 30px;
    line-height: 55px;
    vertical-align: middle;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) .acl-single-product-custom-buttons a.quote-button.button {
    background: #000000;
    color: #ffffff;
    text-transform: unset;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) .acl-single-product-custom-buttons a.quote-button.button:hover {
    background: #ff9029;
}

.woocommerce div.product .acl-single-product-button-wrapper form.cart {
    margin-bottom:0;
}

.cart-template-wrapper {

}
.cart-template-wrapper .woocommerce .woocommerce-cart-form {
    flex-basis: calc(100%);
    margin-right: 0;
}